body {
        font-family: 'Roboto', sans-serif;
    

     }

.alert-container .col-12 {
        padding-left: 0;
        padding-right: 0;
}

.site-wide-alert{
        border-radius: 0;
        margin-bottom: 0;
        padding: 5px 15px;
        color: #101010;
        background-color: #e6b20d;
        border-color: #35383c;
}

.callout-container {
        height: 100vh;

        background: url("../images/whiskey-background.jpg") no-repeat bottom right fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
}

.opaque-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba (0,0,0,0.5)
}

.quotes-container {}

.features-container {}


/*Block dividers*/

.block-divider {
        width: 75px;
        height: 5px;
        border: 0;
    }

.block-divider--blue {
        background-color: #00beff;
}

.block-divider--short {
        width: 35px;
}

/*Navbar*/

.navalert-container {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 0;
        padding-right: 0;
        z-index: 1;
}

.navbar {
        margin-bottom: 0;
        border: 0;
        width: 100%;
        background-color: rgba (0,0,0,0.25);
}

.navbar .navbar-toggler {
        border: 0;
}

.navbar-brand {
        font-weight: bold;
}

.navbar .navbar-nav a {
        font-weight: bold;
}


/*Jumbotron*/

.jumbotron {
        background-color: transparent;
}

.jumbotron-header {
        color: white;
        font-weight: bold;
        margin-bottom: 30px;
}

.jumbotron .lead {
        margin: 25px 0;
        color: #ff9cff;
}

.jumbotron small {
        font-size: 60%;
        font-style: italic;
        color: #d0d0d0;
}

/*Buttons*/

.btn--cta {
        font-weight: bold;
        border-radius: 23px;
        width: 160px;
}

.btn--pink {
        color: white;
        background-color:#ef54f5;
        border-color: #ef54f5
}

.btn--pink:hover,
.btn--pink:active,
.btn--pink:focus
.btn--pink:active:focus {
        color: white;
        background-color:#8c0791;
        border-color: #8c0791;
}
